<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Welcome - Luthfi Dzaky Saifuddin - 1606889830</h1>
<form class="navbar-form navbar-right"
      method="POST"
      action="{% url 'get_api' %}">
    <span>Enter your query:</span>
    <input class="form-control" name="query" type="text"/>
    {% csrf_token %}
</form>
{% if content %}
    <ul>
    {% for it in content %}
        <li> {{ it }}</li>
    {% endfor %}
    </ul>
{% endif %}
</body>
</html>
